<%= render 'form' %>
   <div class="container-fluid">
       <div class="col-xs-12">
        	<%= link_to profiles_path, class:'btn btn-login btn-blue btn-block' do %>
        	<i class="fa fa-angle-left" aria-hidden="true"></i> Atrás &nbsp;&nbsp;
        <% end %>
          <div class="white-space space-small"></div>
      </div>
  </div>
