<%= render 'form' %>

<div class="container-fluid">
    <div class="col-xs-11 push-xs-1 col-sm-10 push-sm-4">
       <%= link_to profiles_path, class:'btn btn-login btn-blue' do %>
       <i class="fa fa-angle-left" aria-hidden="true"></i> Atrás &nbsp;&nbsp;
     <% end %>
       <div class="white-space space-small"></div>
   </div>
</div>
