<p>
	Por favor, comparta sus experiencias y preguntas aquí con otros jóvenes de unirse a uno de los tres foros de abajo. 
</p>
<%= link_to "Desarrollo de vida", forums_path(option: 0)%><br>
<%= link_to "Desarrollo de emprendimiento",forums_path(option: 1)%><br>
<%= link_to "Desarrollo personal", forums_path(option: 2)%><br>
