<div class="container">
  <br>
  <center><h1 class = "text-center">LA RED</h1><hr>
  <h3>Aplicar a trabajo aplica a nuestras ofertas laborales</h3><br>
  		<div class="col-xs-6">
  			<%=link_to 'Aplicar a trabajo', offers_path(option: 1), class:"btn btn-info btn-block"%>
  		</div><br><br>
		  <div class="col-xs-6">
			  <%=link_to 'Aplicar a práctica',offers_path(option: 0), class:"btn btn-info btn-block"%>
		  </div>
  </center>
</div><br><br><br><br>
